@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #E04E39;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #FFFFFF;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    font-size: 1rem;
    color: #FFFFFF;
    margin-bottom: 8px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    color: #E04E39;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}

button.btn {
    background-color: #FFFFFF;
    color: #E04E39;
    border: 2px solid #E04E39;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: 10px;
}

button.btn:hover {
    background-color: #E04E39;
    color: #FFFFFF;
    transform: translateY(-3px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

#bus-info {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}

.bus-info-item {
    background-color: #FFFFFF;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    color: #E04E39;
}
